@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "bootstrap/bootstrap";
@import "base";
@import "panelui";

// COMPASS Skillz
//	@include transform(scale(0.4));
//	@include transition( all .5s );

// :::::::::::::::::::::::::::::::::::

.text_red{
  color:#A03826;
}
.text_brown{
  color:#533B27;
}
.text_orange{
  color:#F48120;
}
.text_orangedark{
  color:#F05A22;
}


.shuffle, .home, .move{
  position:absolute;
  z-index:10;
  top:20px;
  left:20px;
  padding:10px;
  background:rgba(0,0,0,0.7);
  color:white;
  font-weight:bold;
  cursor:pointer;
}

.move{
  left: 120px;
}
.home{
  left: 260px;
}
.container{
    opacity: 0;
    padding: 0;
    background:white;
    position:relative;
    width:$width;
    height:$height;
}

#canvaspad{
    width:$width;
    height:$height;
    color:black;
    overflow:hidden;
    position:absolute;
    top:0px;
    z-index:0;

  background-color: rgb(183,183,183);
  @include filter-gradient(#b7b7b7, #4f4f4f, horizontal);
  @include background-image(radial-gradient(center, ellipse cover,  rgba(183,183,183,1) 0%,rgba(79,79,79,1) 100%));
}

#ui{
  position:absolute;
  top:0px;
  z-index:20;
}

.bold{
  font-family:"News Gothic MT W01 Bold";
}

.content{
	padding-top: 60px;
}

.overlay{
  background:white;
  position:absolute;
  z-index:10;
  width:$width;
  height:$height;
  pointer-events:none;
  top:0;
  opacity:0;
}

.white{
    color: white;
}
.yellow{
    color: $yellow;
}

#image{
  position:absolute;
  top:-60px;
}

.home_cta{
  position:absolute;
  bottom:120px;
  width:100%;
  text-align:center;
  color:$color2;
  font-size:40px;
  display:block;
  cursor:pointer;
  font-family:'News Gothic MT W01';
}

.footer_home{
  background: url("../imgs/footers/foot_generic.png") no-repeat;
  background-size:100% 100%;
  width:100%;
  height:95px;
  position:absolute;
  bottom:0px;
  pointer-events:none;
}


.videoSlide{
  margin-left:360px;
  position: absolute;
  bottom: 150px;
  z-index:10;
  display:none;
  pointer-events:none!important;
}

.vjs-default-skin .vjs-big-play-button {
  margin-left: 650px;
  margin-top: 400px;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}

/* ----------------------------------------------------
  SKELETON
------------------------------------------------------- */

body, html {
	color:#ffffff;
	background-color: $color1;
  width:$width;
  height:$height;
	-webkit-font-smoothing:antialiased;
  font-family:"News Gothic MT W01";
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

/* ! removes focus line */
::-moz-focus-inner {
    padding: 0;
    border: 0
}

html, body {
    width: 100%;
    min-height: 100%;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

a {
  color:#000;
}
a:hover,
a:focus {
  color:$yellow/2;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,h2,h3,h4,h5,h5,h6 {
  // font-family:"Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#aeaeae;
  font-weight:bold;
  margin:0;
}

a:hover {
  text-decoration:none;
}

.pointer {
  cursor:pointer!important;
}

.uppercase {
  text-transform:uppercase;
}

h1 {
  font-size:32px;
  line-height:48px;
  @include transition( all $aniTime );
}



// @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=96d49186-5929-4c92-8dfe-333a45f3e946");
@font-face{
font-family:"News Gothic MT W01";
src:url("../fonts/newsgothic/37d9e911-0350-4505-a092-d4bb68731be9.eot?#iefix");
src:url("../fonts/newsgothic/37d9e911-0350-4505-a092-d4bb68731be9.eot?#iefix") format("eot"),url("../fonts/newsgothic/a48fde8c-ae6e-4cd2-882e-c9296613398c.woff2") format("woff2"),url("../fonts/newsgothic/df9b49fd-a69d-4b3c-9502-e148796c36ba.woff") format("woff"),url("../fonts/newsgothic/2547c32b-e98b-487e-b645-8f51db8ae92f.ttf") format("truetype"),url("../fonts/newsgothic/a5f40cdb-c908-4500-81c7-a7e69f01df8c.svg#a5f40cdb-c908-4500-81c7-a7e69f01df8c") format("svg");
}
@font-face{
font-family:"NewsGothicMTW01-Italic";
src:url("../fonts/newsgothic/40243557-c5f5-4171-8307-6e27b16a7903.eot?#iefix");
src:url("../fonts/newsgothic/40243557-c5f5-4171-8307-6e27b16a7903.eot?#iefix") format("eot"),url("../fonts/newsgothic/96b25fa9-10f5-4208-a45a-7b0c6415de02.woff2") format("woff2"),url("../fonts/newsgothic/e7f852ae-faae-439e-8f52-357252dca129.woff") format("woff"),url("../fonts/newsgothic/a5ba7c6f-70f7-4464-846a-63f92185389d.ttf") format("truetype"),url("../fonts/newsgothic/834ad741-1578-4b46-9d25-347cf313964f.svg#834ad741-1578-4b46-9d25-347cf313964f") format("svg");
}
@font-face{
font-family:"News Gothic MT W01 Bold";
src:url("../fonts/newsgothic/1dd2c283-40a4-490b-a0d7-ef417dac4d66.eot?#iefix");
src:url("../fonts/newsgothic/1dd2c283-40a4-490b-a0d7-ef417dac4d66.eot?#iefix") format("eot"),url("../fonts/newsgothic/d256558e-3dfc-4734-a7ea-9820056356ee.woff2") format("woff2"),url("../fonts/newsgothic/7100c084-fc4c-46d8-b4e5-ddddc8a5ef96.woff") format("woff"),url("../fonts/newsgothic/8abe9396-51db-4d9e-a3e2-71f057051ec6.ttf") format("truetype"),url("../fonts/newsgothic/9937da80-c9ad-405a-b7ad-ed7552fbc86a.svg#9937da80-c9ad-405a-b7ad-ed7552fbc86a") format("svg");
}
@font-face{
font-family:"NewsGothicMTW01-BoldIta";
src:url("../fonts/newsgothic/a71dcf3d-91d5-4b67-ad95-ba45e25b28f5.eot?#iefix");
src:url("../fonts/newsgothic/a71dcf3d-91d5-4b67-ad95-ba45e25b28f5.eot?#iefix") format("eot"),url("../fonts/newsgothic/a54a20d8-7892-47f4-8b6e-12a51791e577.woff2") format("woff2"),url("../fonts/newsgothic/d664aa3b-f4dc-406d-b408-2a5ee084baaa.woff") format("woff"),url("../fonts/newsgothic/a1fc2674-ef44-4d2e-9d4b-09a91300605c.ttf") format("truetype"),url("../fonts/newsgothic/b3a4469c-29b6-4c2e-94dc-839a00dccec6.svg#b3a4469c-29b6-4c2e-94dc-839a00dccec6") format("svg");
}
@font-face{
font-family:"NewsGothicMTW01-Condens";
src:url("../fonts/newsgothic/433ff4b6-2fc7-496a-84d2-745196f0ea97.eot?#iefix");
src:url("../fonts/newsgothic/433ff4b6-2fc7-496a-84d2-745196f0ea97.eot?#iefix") format("eot"),url("../fonts/newsgothic/7d700d96-7f42-4b9c-9cca-078ad6e92834.woff2") format("woff2"),url("../fonts/newsgothic/8b9240f4-15ca-46ac-94fb-bc6600c1560e.woff") format("woff"),url("../fonts/newsgothic/40ae0693-1573-4fec-8990-e66a786f3594.ttf") format("truetype"),url("../fonts/newsgothic/cb504e6a-14b8-4286-b772-09f1531fe6ba.svg#cb504e6a-14b8-4286-b772-09f1531fe6ba") format("svg");
}
@font-face{
font-family:"NewsGothicMTW01-BoldCon";
src:url("../fonts/newsgothic/edb34540-2d21-40f6-93da-9009522b2efe.eot?#iefix");
src:url("../fonts/newsgothic/edb34540-2d21-40f6-93da-9009522b2efe.eot?#iefix") format("eot"),url("../fonts/newsgothic/6e4c7e1e-b711-400e-8ba1-c20916dcd0cb.woff2") format("woff2"),url("../fonts/newsgothic/9bc5b6ea-eca9-436d-8dd4-81ffc50a2b6c.woff") format("woff"),url("../fonts/newsgothic/9c14ba46-4622-4564-819b-9fb1fc5a96f9.ttf") format("truetype"),url("../fonts/newsgothic/1490226b-5713-4496-8b3a-3e118d4f8b27.svg#1490226b-5713-4496-8b3a-3e118d4f8b27") format("svg");
}
@font-face{
font-family:"MonotypeNewsGothicW10";
src:url("../fonts/newsgothic/109ca7ad-ea6f-4bdd-9ac2-d8f55861579b.eot?#iefix");
src:url("../fonts/newsgothic/109ca7ad-ea6f-4bdd-9ac2-d8f55861579b.eot?#iefix") format("eot"),url("../fonts/newsgothic/474f3fce-dea6-4949-aba7-c0ab36d2c1af.woff2") format("woff2"),url("../fonts/newsgothic/584b1100-d07c-416b-8933-71d70a5250d7.woff") format("woff"),url("../fonts/newsgothic/c74d8ee5-40d4-4730-8b01-264bf91b15d5.ttf") format("truetype"),url("../fonts/newsgothic/278b8d6e-d40b-4daf-8c0a-0fffeb779d8e.svg#278b8d6e-d40b-4daf-8c0a-0fffeb779d8e") format("svg");
}
@font-face{
font-family:"MonotypeNewsGothicW10-I";
src:url("../fonts/newsgothic/fdfcb5e3-c367-42b1-9356-01ebd07779ca.eot?#iefix");
src:url("../fonts/newsgothic/fdfcb5e3-c367-42b1-9356-01ebd07779ca.eot?#iefix") format("eot"),url("../fonts/newsgothic/ef0429f1-0811-4708-bd4f-4fb1eb071f25.woff2") format("woff2"),url("../fonts/newsgothic/10a6e90d-30c9-4c28-aca8-33c9ef75cb7c.woff") format("woff"),url("../fonts/newsgothic/afa309d6-293c-4f49-9492-d4ad4e4d5240.ttf") format("truetype"),url("../fonts/newsgothic/13bd298d-d76b-46b1-97f9-ded3d71abdee.svg#13bd298d-d76b-46b1-97f9-ded3d71abdee") format("svg");
}
@font-face{
font-family:"MonotypeNewsGothicW10-B_884463";
src:url("../fonts/newsgothic/d26497ee-f837-42dd-bfa3-dbcb60849e90.eot?#iefix");
src:url("../fonts/newsgothic/d26497ee-f837-42dd-bfa3-dbcb60849e90.eot?#iefix") format("eot"),url("../fonts/newsgothic/02d6778c-9169-412a-93b6-3ff1644413a5.woff2") format("woff2"),url("../fonts/newsgothic/564e322a-52c1-4259-8bad-98b5572652ef.woff") format("woff"),url("../fonts/newsgothic/d133fc59-300b-4957-bf04-273799c310f9.ttf") format("truetype"),url("../fonts/newsgothic/8899b18c-2867-4c55-bbd4-33046fe95dd9.svg#8899b18c-2867-4c55-bbd4-33046fe95dd9") format("svg");
}
@font-face{
font-family:"MonotypeNewsGothicW10-B_884466";
src:url("../fonts/newsgothic/12d1298b-397e-4fd2-8138-37a6248e22be.eot?#iefix");
src:url("../fonts/newsgothic/12d1298b-397e-4fd2-8138-37a6248e22be.eot?#iefix") format("eot"),url("../fonts/newsgothic/7996b749-731c-4da5-98df-70d3984edb50.woff2") format("woff2"),url("../fonts/newsgothic/d9965d43-17fe-4b48-bfa5-a6dcd01d7678.woff") format("woff"),url("../fonts/newsgothic/2451a45a-9728-4ad9-8e30-1403941204a6.ttf") format("truetype"),url("../fonts/newsgothic/3afab4fb-3c8f-40b7-9ebb-377150d9f542.svg#3afab4fb-3c8f-40b7-9ebb-377150d9f542") format("svg");
}
@font-face{
font-family:"MonotypeNewsGothicW15";
src:url("../fonts/newsgothic/aa82e0df-543b-4bef-8633-93bdf2678fb9.eot?#iefix");
src:url("../fonts/newsgothic/aa82e0df-543b-4bef-8633-93bdf2678fb9.eot?#iefix") format("eot"),url("../fonts/newsgothic/9fed50ab-199a-46ae-b08c-30562b9b77e0.woff2") format("woff2"),url("../fonts/newsgothic/b855062c-b4f3-48cb-8434-1f73b5f8fd12.woff") format("woff"),url("../fonts/newsgothic/4c3cf7c3-f68d-43c4-b3f5-acc5a003074e.ttf") format("truetype"),url("../fonts/newsgothic/02b11928-8d32-4d65-8bea-14c8b9ebc154.svg#02b11928-8d32-4d65-8bea-14c8b9ebc154") format("svg");
}
@font-face{
font-family:"MonotypeNewsGothicW15-I";
src:url("../fonts/newsgothic/e80fe311-2db8-488a-930f-a1825f026f3a.eot?#iefix");
src:url("../fonts/newsgothic/e80fe311-2db8-488a-930f-a1825f026f3a.eot?#iefix") format("eot"),url("../fonts/newsgothic/a72bf2b0-113b-40e7-931a-40e727850643.woff2") format("woff2"),url("../fonts/newsgothic/2366783d-bf74-4f35-a79c-076b3860bcad.woff") format("woff"),url("../fonts/newsgothic/5867f346-a1c1-4812-bdc9-625a647d2e4d.ttf") format("truetype"),url("../fonts/newsgothic/772250f5-23bb-4678-8c2e-2eaaad82ab4f.svg#772250f5-23bb-4678-8c2e-2eaaad82ab4f") format("svg");
}
@font-face{
font-family:"MonotypeNewsGothicW15-B_884541";
src:url("../fonts/newsgothic/bc01e6cb-b53b-4dce-8965-f76b101ff92b.eot?#iefix");
src:url("../fonts/newsgothic/bc01e6cb-b53b-4dce-8965-f76b101ff92b.eot?#iefix") format("eot"),url("../fonts/newsgothic/217dc8c7-d77b-4e6a-be8d-72c38d2f1bc7.woff2") format("woff2"),url("../fonts/newsgothic/4eecd649-f85d-410c-94fe-f6e951d6e193.woff") format("woff"),url("../fonts/newsgothic/4209ea4a-d936-481e-ad55-7358b68a337b.ttf") format("truetype"),url("../fonts/newsgothic/795d0b1a-9b09-4af4-b5c6-0b076ebe6689.svg#795d0b1a-9b09-4af4-b5c6-0b076ebe6689") format("svg");
}
@font-face{
font-family:"MonotypeNewsGothicW15-B_884544";
src:url("../fonts/newsgothic/501bca68-bbee-4bda-b781-d9eaa74f5a57.eot?#iefix");
src:url("../fonts/newsgothic/501bca68-bbee-4bda-b781-d9eaa74f5a57.eot?#iefix") format("eot"),url("../fonts/newsgothic/d2f4b3d3-27fb-4cb0-bcd6-a168830cbd80.woff2") format("woff2"),url("../fonts/newsgothic/f2fe85b8-9def-434e-b5fd-50a92ca02767.woff") format("woff"),url("../fonts/newsgothic/0116e26a-ca97-4b59-837e-2e8ddbbbf468.ttf") format("truetype"),url("../fonts/newsgothic/a887780f-071e-4e1d-ae39-2fd2903aec00.svg#a887780f-071e-4e1d-ae39-2fd2903aec00") format("svg");
}
