@import "compass";
@import "compass/css3";
@import "base";

// COMPASS Skillz
//	@include transform(scale(0.4));
//	@include transition( all .5s );

// :::::::::::::::::::::::::::::::::::

.panelui{

  color:black;
  overflow:hidden;

  .boxcolor{
      background:#72563f;
      width:644px;
      height:538px;
      position:absolute;
      top:0;
      z-index:2;
      opacity:0.9;
  }

  .box_brown{
    background:#72563f;
  }
  .box_red{
    background:#9b3a24;
  }
  .box_orange{
    background:#ed8d3a;
  }

  .btn_home,.btn_info, .btn_back, .btn_close{
    position:absolute;
    width:57px;
    height:57px;
    background: url("../imgs/panel/btn_home.png") no-repeat;
    background-size:100% 100%;
    top: 1000px;
    left: 20px;
    z-index:99999999999 !important;
    pointer-events:auto !important;
    cursor:pointer;
    @include transition( transform .5s );
  }

  .btn_back{
    background: url("../imgs/panel/btn_back.png") no-repeat;
    left: 100px;
  }

  .btn_info{
    background: url("../imgs/panel/btn_info.png") no-repeat;
    top:20px;
    left: 1840px;
  }
  .btn_close{
    background: url("../imgs/panel/btn_close.png") no-repeat;
    top:20px;
    left: 1840px;
    display:none;
  }


  .btn_home:hover,.btn_info:hover, .btn_back:hover, .btn_close:hover{
    @include transform(scale(1.05));
   }
  .uibg{
    background: url("../imgs/panel/bg_brown.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:100%;
    position:relative;
    pointer-events:none;
    z-index:1;
  }

  .ui{
    position: absolute;
    z-index:10;
    width:$width;
    height:$height;
    top:0;
    // pointer-events:none;
  }


}



.paneluiInner{

  position:absolute !important;
  top:0;
  color:black;
  width:$width;
  height:$height;
  z-index:30;

  .icon{
    width:644px;
    height:538px;
    position:absolute;
  }

  .lowerLeft{
    position:absolute;
    width:644px;
    top:538px;
  }

  .title{
    position:absolute;
    left:684px;
    top:20px;
  }

  .scrollArea{
    position:absolute;
    width:1220px;
    height:1080px;
    left:684px;
    top:150px;
    padding-bottom:350px;
  }

  .info{
      position:absolute;
      top: 146px;
      left: 684px;
      z-index:40;
      pointer-events:none;
      display:none;
      .moa{
        position:absolute;
        width:48px;
        height:13px;
        background: url("../imgs/panel/moa.png") no-repeat;
        top: -104px;
right: 13px;
      }
  }

  .shadow{
    width:1274px;
    height:245px;
    position:absolute;
    background: url("../imgs/panel/shadow.png") no-repeat;
    pointer-events:none;
    z-index:30;
    bottom:0;
    right:0;
  }
}
