/* line 11, ../../app/scss/panelui.scss */
.panelui {
  color: black;
  overflow: hidden;
}
/* line 16, ../../app/scss/panelui.scss */
.panelui .boxcolor {
  background: #72563f;
  width: 644px;
  height: 538px;
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0.9;
}
/* line 26, ../../app/scss/panelui.scss */
.panelui .box_brown {
  background: #72563f;
}
/* line 29, ../../app/scss/panelui.scss */
.panelui .box_red {
  background: #9b3a24;
}
/* line 32, ../../app/scss/panelui.scss */
.panelui .box_orange {
  background: #ed8d3a;
}
/* line 36, ../../app/scss/panelui.scss */
.panelui .btn_home, .panelui .btn_info, .panelui .btn_back, .panelui .btn_close {
  position: absolute;
  width: 57px;
  height: 57px;
  background: url("../imgs/panel/btn_home.png") no-repeat;
  background-size: 100% 100%;
  top: 1000px;
  left: 20px;
  z-index: 99999999999 !important;
  pointer-events: auto !important;
  cursor: pointer;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
/* line 50, ../../app/scss/panelui.scss */
.panelui .btn_back {
  background: url("../imgs/panel/btn_back.png") no-repeat;
  left: 100px;
}
/* line 55, ../../app/scss/panelui.scss */
.panelui .btn_info {
  background: url("../imgs/panel/btn_info.png") no-repeat;
  top: 20px;
  left: 1840px;
}
/* line 60, ../../app/scss/panelui.scss */
.panelui .btn_close {
  background: url("../imgs/panel/btn_close.png") no-repeat;
  top: 20px;
  left: 1840px;
  display: none;
}
/* line 68, ../../app/scss/panelui.scss */
.panelui .btn_home:hover, .panelui .btn_info:hover, .panelui .btn_back:hover, .panelui .btn_close:hover {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 71, ../../app/scss/panelui.scss */
.panelui .uibg {
  background: url("../imgs/panel/bg_brown.png") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
  z-index: 1;
}
/* line 81, ../../app/scss/panelui.scss */
.panelui .ui {
  position: absolute;
  z-index: 10;
  width: 1920px;
  height: 1080px;
  top: 0;
}

/* line 95, ../../app/scss/panelui.scss */
.paneluiInner {
  position: absolute !important;
  top: 0;
  color: black;
  width: 1920px;
  height: 1080px;
  z-index: 30;
}
/* line 104, ../../app/scss/panelui.scss */
.paneluiInner .icon {
  width: 644px;
  height: 538px;
  position: absolute;
}
/* line 110, ../../app/scss/panelui.scss */
.paneluiInner .lowerLeft {
  position: absolute;
  width: 644px;
  top: 538px;
}
/* line 116, ../../app/scss/panelui.scss */
.paneluiInner .title {
  position: absolute;
  left: 684px;
  top: 20px;
}
/* line 122, ../../app/scss/panelui.scss */
.paneluiInner .scrollArea {
  position: absolute;
  width: 1220px;
  height: 1080px;
  left: 684px;
  top: 150px;
  padding-bottom: 350px;
}
/* line 131, ../../app/scss/panelui.scss */
.paneluiInner .info {
  position: absolute;
  top: 146px;
  left: 684px;
  z-index: 40;
  pointer-events: none;
  display: none;
}
/* line 138, ../../app/scss/panelui.scss */
.paneluiInner .info .moa {
  position: absolute;
  width: 48px;
  height: 13px;
  background: url("../imgs/panel/moa.png") no-repeat;
  top: -104px;
  right: 13px;
}
/* line 148, ../../app/scss/panelui.scss */
.paneluiInner .shadow {
  width: 1274px;
  height: 245px;
  position: absolute;
  background: url("../imgs/panel/shadow.png") no-repeat;
  pointer-events: none;
  z-index: 30;
  bottom: 0;
  right: 0;
}
