
<div class="paneluiInner">

	<div class="icon"><img src="imgs/panel/8_5/cornericon_sect.png"/></div>
	<div class='lowerLeft'><img src="imgs/panel/8_5/lowerleft_sect.png"/></div>

	<div class="title"><img src="imgs/panel/8_5/title.png"/></div>

	<div class="scrollArea">
		<img src="imgs/panel/8_5/scroll.png"/>
	</div>

	<div class="info">
		<div class="moa"></div>
		<img src="imgs/panel/8_5/info.png"/>
	</div>

	<div class="btn_info"></div>
	<div class="btn_close"></div>

	<div class="shadow"></div>
</div>
