
<div class="paneluiInner">

	<div class="icon"><img src="imgs/panel/8_1/cornericon_sect.png"/></div>
	<div class='lowerLeft'><img src="imgs/panel/8_1/lowerleft_sect.png"/></div>

	<div class="title"><img src="imgs/panel/8_1/title.png"/></div>

	<div class="scrollArea">
		<img src="imgs/panel/8_1/scroll.png"/>
	</div>

	<div class="info">
		<div class="moa"></div>
		<img src="imgs/panel/8_1/info.png"/>
	</div>

	<div class="btn_info"></div>
	<div class="btn_close"></div>

	<div class="shadow"></div>
</div>
