
<div class="microuiInner">


	<div class="info">
		<ul class="slides">
			<!-- <li class="videoSlide">
				<video id="example_video_1" class="video-js vjs-default-skin"
						controls preload="none" width="1462" height="1000"
			      poster="imgs/contentarea.png"
			      data-setup="{}">
			    <source src="video/tester.mp4" type='video/mp4' />
			</li> -->
			<li><img src="imgs/slides/1_1.jpg" /></li>
			<li><img src="imgs/slides/1_2.jpg" /></li>
		</ul>
	</div>


</div>
