
<div class="container" id="canvaspad">

	<div class="scopecanvas"></div>
	<!-- <div class="shuffle">SHUFFLE</div>
	<div class="move">MOVE CAMERA</div>
	<div class="home">HOME</div> -->
	<div class="footer_home"></div>

	<div class="overlay"></div>
</div>
