
<div class="container panelui">

	<div class="uibg"></div>
	<div class="boxcolor"></div>
	<!-- panel Content loaded here -->
	<div id="viewport_content"></div>

	<div class="btn_home"></div>
	<div class="btn_back"></div>
	

</div>
